html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
#background{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -100;
	background: #41ddff;
}
#background > img{
	width: 100%;
	position: absolute;
	bottom: 0;
}
#clouds{
	width: 100%;
	height: 100%;
}
#clouds img{
	position: absolute;
}
#main{
	width: 100%;
	height: 90%;
	margin: 0 auto;
	text-align: center;
}
footer{
	width: 100%;
	text-align: center;
	padding-top: 7px;
	border-top: 1px solid #eee;
	background: #333;
	
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	
	/* This is temporary! */
	display: none;
}
footer a{
	color: #eee;
	text-decoration: none;
}

footer a:hover{
	text-decoration: underline;
}

/* Youtube video */
iframe{
	width: 100%;
	max-width: 560px;
	
	height: 56.25vw;
	 /*
		33.75vw = 100% width * 100% main width * 9/16
	 */
	 max-height: 315px;
}

/* Play and app store images (links) */
#store{ 
	width: 100%;
	margin-top: 4vh;
}
#store img{
	width: 47%;
	max-width: 172px;
	margin: 0 20px;
}

#logo{
	margin-bottom: 20px;
}

/* Mobile rules */

.mobile.portrait #logo{
	margin: 3vh 0 5vh 0;
}

.mobile.portrait #logo img{
	width: 85%;
}

.mobile.portrait iframe{
	max-width: 90%;
	height: 50.625vw;
	max-height: 50.625vw;
}

.mobile.portrait #store{
	position: absolute;
	bottom: 8vh;
	margin: 0;
}

.mobile.portrait #store img{
	width: 47%;
	max-width: 40vw;
	margin: 0 4vw;
}

.mobile.portrait footer{
	display: none;
}
